extends layout

block content
    div.jumbotron
        div.container
            div.page-header
                h1 Card Libs!
            p Cards Against Humanity or Mad Libs style game thingo.
            p Open source:
            a.btn.btn-default(href='https://bitbucket.org/spark4160/card-libs', role='button', target='_blank') Bitbucket
    div.container
        div.row
            div.col-md-4
                h2 Create an account.
            div.col-md-4
                h2 Browse the list of games and play.
            div.col-md-4
                h2 Create custom card sets.