doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='author', content='')
        meta(name='description', content='')

        link(rel='shortcut icon', href='/ico/favicon.png')
        
        title Card Libs
        
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/ganalytics.js')

        block headcontent

    body
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                div.container
                    div.navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') Card Libs
                    div.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li(class=(page === 'Home' ? 'active' : ''))
                                a(href='/') Home
                            if user
                                li(class=(page === 'Game List' ? 'active' : ''))
                                    a(href='/list/') Game List
                                li(class=(page === 'Game' ? 'active' : ''))
                                    a(href='/game/') Game
                                li(class=(page === 'Cards' ? 'active' : ''))
                                    a(href='/cards/') Cards
                                li(class=(page === 'Poll' ? 'active' : ''))
                                    a(href='/poll/') Poll
                            else
                                li(class=(page === 'Register' ? 'active' : ''))
                                    a(href='/register/') Register
                                li(class=(page === 'Reset Password' ? 'active' : ''))
                                    a(href='/reset/') Reset Password
                        if user
                            ul.nav.navbar-nav.navbar-right
                                li(class=(page === 'User' ? 'active' : ''))
                                    a(href='/user/') #{user.username}
                                li
                                    a(href='/logout/') Logout
                        else
                            form.navbar-form.navbar-right(role='form', method='post', action='/login/')
                                div.form-group
                                    input.form-control(type='text', name='username', placeholder='Username')
                                div.form-group
                                    input.form-control(type='password', name='password', placeholder='Password')
                                button.btn.btn-success(type='submit') Sign in
        if danger && danger.length
            div.alert.alert-danger #{danger}
        if success && success.length
            div.alert.alert-success #{success}
        if warning && warning.length
            div.alert.alert-warning #{warning}
        block content
        hr