extends ../layout

block content
    div.container
        div.page-header
            h1 Login
        form.form-horizontal(role='form', method='post', action='/login/')
            div.form-group
                label.col-sm-2.control-label Username
                div.col-sm-10
                    input.form-control(type='text', name='username', placeholder='Username')
            div.form-group
                label.col-sm-2.control-label Password
                div.col-sm-10
                    input.form-control(type='password', name='password', placeholder='Password')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Login
                    a.btn.btn-default(href='/reset/', role='button') Reset Password