extends ../layout

block content
    div.container
        div.page-header
            h1 Register
        form.form-horizontal(role='form', method='post', action='/register/')
            div.form-group
                label.col-sm-2.control-label Username
                div.col-sm-10
                    input.form-control(type='text', required, name='username', placeholder='Username', value=username)
            div.form-group
                label.col-sm-2.control-label Email
                div.col-sm-10
                    input.form-control(type='email', required, name='email', placeholder='Email', value=email)
            div.form-group
                label.col-sm-2.control-label New Password
                div.col-sm-10
                    input.form-control(type='password', required, name='password', placeholder='Password', value=password)
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Register