extends ../layout

block content
    div.container
        div.page-header
            h1 Control Panel
        form.form-horizontal(role='form', method='post', action='/user/')
            div.form-group
                label.col-sm-2.control-label Username
                div.col-sm-10
                    p.form-control-static #{user.username}
            div.form-group
                label.col-sm-2.control-label Email
                div.col-sm-10
                    p.form-control-static #{user.email}
            div.form-group
                label.col-sm-2.control-label New Password
                div.col-sm-10
                    input.form-control(type='password', required, name='password', placeholder='New Password')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Change