extends ../layout

block headcontent
    script(src='/javascripts/cards/edit.js')

block content
    input(type='hidden', id='cardset', value=cardset._id)
    div.container
        div.page-header
            h1 #{cardset.name} 
                small #{owner.username}
        ul.nav.nav-pills
            li.active
                a(data-toggle='tab', href='#options') Options
            li
                a(data-toggle='tab', href='#black') Black Cards
            li
                a(data-toggle='tab', href='#white') White Cards
        div.tab-content
            div.tab-pane.active(id='options')
                h2 Options
                form.form-horizontal(role='form', method='post', action='/cards/set/'+cardset._id+'/options/')
                    input(type='hidden', name='test', value=1234)
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            div.checkbox
                                label Public
                                    input.form-control(type='checkbox', name='pub', checked=(cardset.pub ? "checked" : undefined))
                            span.help-block Public card sets can be used by anyone in any game, private sets can only be used when you are in the game.
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type='submit') Save
                form(role='form', method='post', action='/cards/set/'+cardset._id+'/delete/')
                    input(type='hidden', name='id', value=cardset._id)
                    button.btn.btn-danger(type='submit') Delete Card Set
            div.tab-pane(id='black')
                h2 Black Cards 
                    small Prompts
                hr
                h3 Add Cards
                hr
                form.form-horizontal(role='form')
                    input(type='hidden', name='white', value=0)
                    fieldset.fieldset
                        legend Individual
                        div.form-group
                            label.col-sm-2.control-label Prompt
                            div.col-sm-10
                                input.form-control(type='text', required, name='prompt', placeholder='Prompt', id='blackprompt')
                                span.help-block Replace blanks with underscores (_).
                        div.form-group
                            div.col-sm-offset-2.col-sm-10
                                button.btn.btn-default(id='blackadd') Add Card
                form.form-horizontal(role='form', method='post', action='/cards/set/'+cardset._id+'/upload/', enctype='multipart/form-data')
                    input(type='hidden', name='white', value=0)
                    fieldset.fieldset
                        legend Upload
                    div.form-group
                        label.col-sm-2.control-label File Input
                        div.col-sm-10
                            input(type='file', required, name='cardsfile')
                            span.help-block One prompt per line. Replace blanks with underscores (_). 
                                a(href='/res/black.cards.txt') Example
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type='submit') Submit
                hr
                h3 Existing Cards
                hr
                div.table-responsive
                    table.table(id='blacktable')
                        tr
                            th Prompt
                            th White Cards
                            th Delete
                        tbody
                            each card in cardset.blackcards
                                tr
                                    td #{card.prompt}
                                    td #{card.blanks}
                                    td
                                        a.btn.btn-danger.btn-xs(onclick='deletecard(this, 0, \''+card._id+'\')', role='button') Delete
            div.tab-pane(id='white')
                h2 White Cards 
                    small Responses
                hr
                h3 Add Cards
                hr
                form.form-horizontal(role='form')
                    input(type='hidden', name='white', value=1)
                    fieldset.fieldset
                        legend Individual
                        div.form-group
                            label.col-sm-2.control-label Text
                            div.col-sm-10
                                input.form-control(type='text', required, name='text', placeholder='Text', id='whitetext')
                        div.form-group
                            div.col-sm-offset-2.col-sm-10
                                button.btn.btn-default(id='whiteadd') Add Card
                form.form-horizontal(role='form', method='post', action='/cards/set/'+cardset._id+'/upload/', enctype='multipart/form-data')
                    input(type='hidden', name='white', value=1)
                    fieldset.fieldset
                        legend Upload
                    div.form-group
                        label.col-sm-2.control-label File Input
                        div.col-sm-10
                            input(type='file', required, name='cardsfile')
                            span.help-block One card per line. 
                                a(href='/res/white.cards.txt') Example
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type='submit') Submit
                hr
                h3 Existing Cards
                hr
                div.table-responsive
                    table.table(id='whitetable')
                        tr
                            th Text
                            th Delete
                        tbody
                            each card in cardset.whitecards
                                tr
                                    td #{card.text}
                                    td
                                        a.btn.btn-danger.btn-xs(onclick='deletecard(this, 1, \''+card._id+'\')', role='button') Delete