extends ../layout

block content
    div.container
        div.page-header
            h1 My Card Sets
        div.table-responsive
            table.table
                tr
                    th Name
                    th Black Cards
                    th White Cards
                if cardsets
                    each cardset in cardsets
                        tr
                            td
                                a(href='/cards/set/'+cardset._id) #{cardset.name}
                            td #{cardset.blackcards.length}
                            td #{cardset.whitecards.length}
        form.form-horizontal(role='form', method='post', action='/cards/set/')
            div.form-group
                label.col-sm-2.control-label New Card Set
                div.col-sm-10
                    input.form-control(type='text', required, name='name', placeholder='Name')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Create
