extends ../layout

block content
    div.container
        div.page-header
            h1 My Card Sets
        div.table-responsive
            table.table
                tr
                    th Name
                    th Cards
                if cardsets
                    each cardset in cardsets
                        tr
                            td #{cardset.name}
                            td #{cardset.cards.length}
        form.form-horizontal(role='form', method='post', action='/cards/set/')
            input(type='hidden', name='create', value=1)
            div.form-group
                label.col-sm-2.control-label New Card Set
                div.col-sm-10
                    input.form-control(type='text', name='name', placeholder='Name')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Create
