extends ../layout

block content
    div.container
        if poll
            div.page-header
                h1 Poll: #{poll.question}
            ul
                each choice in poll.choices
                    li #{choice.choiceText}
            a.btn.btn-default(href='/poll/'+poll._id+'/vote/', role='button') Vote
            a.btn.btn-default(href='/poll/'+poll._id+'/results/', role='button') Results
        else
            div.page-header
                h1 No poll found