extends ../layout

block content
    div.container
        div.page-header
            h1 Polls
        if latest_poll_list
            ul
                each poll in latest_poll_list
                    li
                        a(href='/poll/'+poll._id)= poll.question
        else
            p No polls found