extends ../layout

block content
    div.container
        if poll
            div.page-header
                h1 Poll Results: #{poll.question}
            ul
                each choice in poll.choices
                    li #{choice.choiceText}: #{choice.votes}
        else
            div.page-header
                h1 No poll found