extends ../layout

block content
    div.container
        if poll
            div.page-header
                h1 Poll: #{poll.question}
            form(role='form', method='post', action='/poll/'+poll._id+'/vote/')
                each choice in poll.choices
                    div.radio
                        label
                            input(type='radio', name='choice', value=choice._id)
                            | #{choice.choiceText}
                button.btn.btn-success(type='submit') Submit Vote
        else
            div.page-header
                h1 No poll found